body {
  margin: 0;
  overflow: hidden;
}

.center-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.customAlertContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column-reverse;
}

.customAlert {
  background-color: #f0f0f0;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s ease, transform 1s ease;
}

.customAlertTitle {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.customAlertTitle::before {
  content: '!';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fc6d26;
  color: white;
  text-align: center;
  line-height: 20px;
  margin-right: 10px;
}

.slideUp {
  opacity: 1;
  transform: translateY(0);
}
