[class^=el-icon-] {
	font-family:element-icons!important;
	speak:none;
	font-style:normal;
	font-weight:400;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	vertical-align:baseline;
	display:inline-block;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
.el-icon-files:before {
	content:""
}
.el-icon-mouse:before {
	content:""
}
.el-icon-takeaway-box:before {
	content:""
}
.el-icon-menu:before {
	content:""
}
.el-icon-more:before {
	content:""
}
.el-icon-user:before {
	content:""
}
.el-icon-setting:before {
	content:""
}
.el-icon-platform-eleme:before {
	content:""
}
.el-menu {
	border-right:1px solid #e6e6e6;
	list-style:none;
	position:relative;
	margin:0;
	padding-left:0
}
.el-menu {
	background-color:#fff
}
.el-menu:after,.el-menu:before {
	display:table;
	content:""
}
.el-menu:after {
	clear:both
}
.el-menu-item {
	line-height:56px;
	list-style:none
}
.el-menu-item {
	height:56px;
	font-size:14px;
	color:#303133;
	padding:0 20px;
	cursor:pointer;
	position:relative;
	-webkit-transition:border-color .3s,background-color .3s,color .3s;
	transition:border-color .3s,background-color .3s,color .3s;
	box-sizing:border-box;
	white-space:nowrap
}
.el-menu-item {
	-webkit-box-sizing:border-box
}
.el-menu-item * {
	vertical-align:middle
}
.el-menu-item i {
	color:#909399
}
.el-menu-item:focus,.el-menu-item:hover {
	outline:0;
	background-color:#ecf5ff
}
.el-menu-item [class^=el-icon-] {
	margin-right:5px;
	width:24px;
	text-align:center;
	font-size:18px;
	vertical-align:middle
}
.el-menu-item.is-active {
	color:#409eff
}
.el-menu-item.is-active i {
	color:inherit
}
.el-radio-button:focus:not(.is-focus):not(:active):not(.is-disabled) {
	-webkit-box-shadow:0 0 2px 2px #409eff;
	box-shadow:0 0 2px 2px #409eff
}
.el-upload-list__item.is-success:focus:not(:hover) .el-icon-close-tip {
	display:inline-block
}
.el-collapse-item__header.focusing:focus:not(:hover) {
	color:#409eff
}
.el-input::-webkit-scrollbar:horizontal {
	height:6px
}
.el-radio:focus:not(.is-focus):not(:active):not(.is-disabled) .el-radio__inner {
	-webkit-box-shadow:0 0 2px 2px #409eff;
	box-shadow:0 0 2px 2px #409eff
}
.el-scrollbar {
	overflow:hidden;
	position:relative;
	height:100%
}
.el-scrollbar__wrap {
	overflow:auto;
	height:100%
}
.el-scrollbar__wrap--hidden-default {
	scrollbar-width:none
}
.el-scrollbar__wrap--hidden-default::-webkit-scrollbar {
	display:none
}
.el-scrollbar__thumb {
	position:relative;
	display:block;
	width:0;
	height:0;
	cursor:pointer;
	border-radius:inherit;
	background-color:rgba(144,147,153,.3);
	-webkit-transition:background-color .3s;
	transition:background-color .3s
}
.el-scrollbar__thumb:hover {
	background-color:rgba(144,147,153,.5)
}
.el-scrollbar__bar {
	position:absolute;
	right:2px;
	bottom:2px;
	z-index:1;
	border-radius:4px
}
.el-scrollbar__bar.is-vertical {
	width:6px;
	top:2px
}
.el-scrollbar__bar.is-vertical>div {
	width:100%
}
.el-scrollbar__bar.is-horizontal {
	height:6px;
	left:2px
}
.el-scrollbar__bar.is-horizontal>div {
	height:100%
}
@font-face {
	font-family:scicon;
	src:url(../fonts/iconfont.1203e317.woff2) format("woff2"),url(../fonts/iconfont.5ad2411a.woff) format("woff"),url(../fonts/iconfont.cc5068b4.ttf) format("truetype")
}
body,html {
	width:100%;
	height:100%;
	background-color:#f6f8f9;
	font-size:12px
}
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	outline:none
}
::-webkit-scrollbar {
	width:5px;
	height:5px
}
::-webkit-scrollbar-thumb {
	background-color:rgba(50,50,50,.3)
}
::-webkit-scrollbar-thumb:hover {
	background-color:rgba(50,50,50,.6)
}
::-webkit-scrollbar-track {
	background-color:rgba(50,50,50,.1)
}
::-webkit-scrollbar-track:hover {
	background-color:rgba(50,50,50,.2)
}
.aminui-wrapper {
	display:flex;
	flex:1;
	overflow:auto
}
.aminui-side-split {
	width:65px;
	flex-shrink:0;
	background:#222b45
}
.adminui-side-split-scroll {
	overflow:auto;
	overflow-x:hidden;
	height:100%
}
.aminui-side-split li {
	cursor:pointer;
	width:65px;
	height:65px;
	color:#fff;
	text-align:center;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center
}
.aminui-side-split li i {
	font-size:18px
}
.aminui-side-split li p {
	margin-top:5px
}
.aminui-side-split li:hover {
	background:hsla(0,0%,100%,.1)
}
.aminui-side-split li.active {
	background:#409eff
}
.adminui-side-split-scroll::-webkit-scrollbar-thumb {
	background-color:hsla(0,0%,100%,.4);
	border-radius:5px
}
.adminui-side-split-scroll::-webkit-scrollbar-thumb:hover {
	background-color:hsla(0,0%,100%,.5)
}
.adminui-side-split-scroll::-webkit-scrollbar-track,.adminui-side-split-scroll::-webkit-scrollbar-track:hover {
	background-color:hsla(0,0%,100%,0)
}
.aminui-side {
	display:flex;
	flex-flow:column;
	flex-shrink:0;
	width:210px;
	background:#fff;
	box-shadow:2px 0 8px 0 rgba(29,35,41,.05);
	border-right:1px solid #e6e6e6;
	transition:width .3s
}
.adminui-side-top {
	border-bottom:1px solid #ebeef5;
	height:50px;
	line-height:50px
}
.adminui-side-top h2 {
	padding:0 20px;
	font-size:17px;
	color:#3c4a54
}
.adminui-side-scroll {
	overflow:auto;
	overflow-x:hidden;
	flex:1
}
.el-menu {
	border:none!important
}
.el-menu-item.is-active {
	background:#ecf5ff
}
/*!
 * Cropper.js v1.5.12
 * https://fengyuanchen.github.io/cropperjs
 *
 * Copyright 2015-present Chen Fengyuan
 * Released under the MIT license
 *
 * Date:2021-06-12T08:00:11.623Z
 */